.login {
	height        : 40rem;
	width         : 30rem;
	margin        : 5rem auto;
	padding       : 1rem;
	text-align    : center;
	border        : 3px solid #f9fafb;
	border-radius : 12px;
	background    : #02061735;
	transition    : all 0.2s ease-in-out;

	&:hover {
		background : #02061750;
		transform  : scale(1.05);
		box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.60);
	}

	form {
		display         : flex;
		flex-direction  : column;
		gap             : 1rem;
		margin          : auto;
		height          : 100%;
		text-align      : center;
		justify-content : space-between;

		h1 {
			font-size : 5rem;
			margin    : 1rem;
		}

		input {
			padding       : 0.5rem;
			width         : 25rem;
			background    : transparent;
			transition    : all 0.2s ease-in-out;
			border        : 1px solid #f9fafb;
			border-radius : 12px;
			height        : 2rem;
			margin        : 0 auto;
			color         : #f9fafb;
			font-size     : 1.5rem;

			&:hover {
				background : #02061750;
			}
		}

		.buttons {
			display : flex;
			gap     : 1rem;
			margin  : 0 auto;

			button {
				height        : 4rem;
				margin        : 1rem 0;
				width         : 15rem;
				align-self    : center;
				font-size     : 2rem;
				font-weight   : 600;
				border-radius : 2rem;
				cursor        : pointer;
				transition    : all 0.2s ease-in-out;
				background    : #10b981;
				color         : white;
				border        : none;
				outline       : none;

				&:hover {
					background-color : #17560b;
				}

				&.secondary {
					height     : 3rem;
					width      : 10rem;
					font-size  : 1.5rem;
					background : transparent !important;
					border     : 3px solid #10b981;
				}
			}
		}
	}
}