.sudoku {
	--cell-size    : 5rem;
	display        : flex;
	flex-direction : column;
	align-items    : center;
	padding        : 2rem;
	margin         : 1rem;
	background     : #020617;
	border         : 3px solid #e5e7eb;

	.grid {

		display               : grid;
		grid-template-columns : repeat(9, var(--cell-size));
		grid-template-rows    : repeat(9, var(--cell-size));

		.cell {
			-moz-appearance : textfield; /* retire les flèches Firefox */

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance : none; /* retire les flèches Chrome/Safari */
				margin             : 0;
			}

			background      : transparent;
			border          : 1px solid rgba(229, 231, 235, 0.25);

			color           : #f9fafb;
			font-size       : 18px;
			font-weight     : 600;
			text-align      : center;

			outline         : none;
			caret-color     : transparent;
			cursor          : pointer;

			&:focus {
				background   : rgba(59, 130, 246, 0.18);
				border-color : #29a615;
				z-index      : 1;
			}

			/* Colonnes 3x3 */
			&:nth-child(3n) {
				border-right : 3px solid rgba(229, 231, 235, 0.8);
			}

			&:nth-child(9n) {
				border-right : 1px solid rgba(229, 231, 235, 0.25);
			}

			/* Lignes 3x3 */
			&:nth-child(n + 19):nth-child(-n + 27),
			&:nth-child(n + 46):nth-child(-n + 54) {
				border-bottom : 3px solid rgba(229, 231, 235, 0.8);
			}
		}
	}
}
