.sudoku {
	--cell-size    : 4.5rem;
	position       : relative;
	display        : flex;
	flex-direction : column;
	align-items    : center;
	padding        : 2rem;
	margin         : 1rem auto;
	background     : #02061735;
	border         : 3px solid #e5e7eb;
	width          : 41rem;
	border-radius  : 10px;
	height         : 45rem;

	.grid {

		display               : grid;
		grid-template-columns : repeat(9, var(--cell-size));
		grid-template-rows    : repeat(9, var(--cell-size));

		.cell {
			-moz-appearance : textfield; /* retire les flèches Firefox */

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance : none; /* retire les flèches Chrome/Safari */
				margin             : 0;
			}

			background      : transparent;
			border          : 1px solid rgba(229, 231, 235, 0.25);

			color           : #f9fafb;
			font-size       : 3rem;
			font-weight     : 600;
			text-align      : center;

			outline         : none;
			caret-color     : transparent;
			cursor          : pointer;

			&:hover {
				background    : #00000080;
				transition    : all 0.05s ease-in-out;
				transform     : scale(1.1);
				border-radius : 5px;
				border        : 2px solid #ffffff !important;
			}

			&:focus {
				background    : #000000;
				z-index       : 1;
				transform     : scale(1.2);
				transition    : all 0.05s ease-in-out;
				border-radius : 5px;
				border        : 2px solid #ffffff !important;
			}

			/* Pré-remplies / disabled: fond vert et pas d'interaction */
			&.prefilled,
			&:disabled {
				color   : #3bf644;
				opacity : 1; /* garder couleur pleine malgré disabled */
			}

			/* Nouvelle règle: fond orange si case vide */
			/* utilise :placeholder-shown — fonctionne parce qu'on met placeholder=" " */
			&:placeholder-shown {
				background : #02061760; /* orange */
				color      : #111; /* contraste pour la lisibilité si placeholder affiché */
			}

			/* Colonnes 3x3 */
			&:nth-child(3n) {
				border-right : 3px solid rgba(229, 231, 235, 0.8);
			}

			&:nth-child(9n) {
				border-right : 1px solid rgba(229, 231, 235, 0.25);
			}

			/* Lignes 3x3 */
			&:nth-child(n + 19):nth-child(-n + 27),
			&:nth-child(n + 46):nth-child(-n + 54) {
				border-bottom : 3px solid rgba(229, 231, 235, 0.8);
			}
		}
	}

	.controls {
		display         : flex;
		justify-content : flex-end;
		position        : absolute;
		right           : 2.2rem;
		bottom          : 1.5rem;
		width           : auto;
		gap             : 0.5rem;

		.validate-button {
			height           : 4rem;
			background-color : #1c700e;
			color            : white;
			padding          : 0.75rem 3rem;
			border-radius    : 2rem;
			border           : none;
			cursor           : pointer;
			font-size        : 3rem;
			font-weight      : 600;
			transition       : all 0.2s ease-in-out;

			&:hover {
				background-color : #17560b;
				transform        : scale(1.05);
				box-shadow       : 0 0.5rem 1rem rgba(0, 0, 0, 0.60);
			}
		}
	}
}
