.header {
	margin        : 1rem;
	background    : #F4E5CB;
	border-radius : 10px;
	border        : 1px solid #E4D8C6;
	display       : flex;
	height        : 4rem;

	img {
		height : 80%;
		margin : auto;
	}
}