.header {
	margin        : 1rem;
	background    : #F4E5CB;
	border-radius : 10px;
	border        : 1px solid #E4D8C6;
	display       : flex;
	height        : 4rem;

	img {
		height : 80%;
		margin : auto;
	}

	.usersection {
		margin      : 1rem;
		display     : flex;
		gap         : 1rem;
		align-items : center;
		font-size   : 2rem;
		color       : #374151;
	}
}